.radio {
    appearance: none;

    width: 10px;
    height: 10px;
    cursor: pointer;

    background: #335533;
    outline: none;
    border-radius: 50%;

}

.radio::before {
    border: 2px solid #cc99ff;
}


.radio:checked::before {
    background: #55ffff;
}

.label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    gap: 22px;
}

.radio:focus {
    border: 2px solid #cc99ff;
}

